$blue: #d9e1cc;
body {
  font-family: "Questa Sans", "Trebuchet MS", "Lucida Grande",
    "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

  background-color: $blue;
  color: #fff;
  padding: 0;
  margin: 0;
}

.nav_container {
  width: 50%;
  background: transparent;
  position: fixed;
  top: 20px;
  .nav_menu {
    width: 100%;
    ul {
      display: flex;
      justify-content: center;
      gap: 17%;
      font-size: 18px;

      .nav_menu_item {
        list-style: none;
        a {
          text-decoration: none;
          color: #333;
        }
      }
    }
  }
}
