body {
  font-family: "Questa Sans", "Trebuchet MS", "Lucida Grande",
    "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}
.main_logo {
  position: fixed;
  left: 20px;
  top: 10px;

  .logo {
    height: 4em;
  }
}

.nav_container {
  width: 50%;
  background: transparent;
  position: fixed;
  top: 10px;
  right: 0;
  .nav_menu {
    width: 100%;
    ul {
      display: flex;
      justify-content: center;
      gap: 10%;
      font-size: 18px;

      .nav_menu_item {
        list-style: none;
        a {
          text-decoration: none;
          color: #333;
        }
      }
    }
  }
}

.home_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #eeeeee;

  .home_left {
    width: 50%;
    height: 100%;

    video {
      height: 99.4%;
      object-fit: cover;
      width: 100%;
      border-radius: 0 0 20px 0;
    }
  }
  .home_right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .landing_para {
      padding: 70px;

      h1 {
        font-family: "Courier New", Courier, monospace;
        font-size: 45px;
        text-align: center;
        transition: all 1s ease-out;
      }

      hr {
        width: 0px;
        transition: all 0.8s ease-out;
        height: 3px;
        background-color: #333;
      }

      h1:hover hr {
        width: 10em;
      }

      h2 {
        margin-bottom: 10px;
        text-align: center;
      }
      p {
        color: #666;
      }
    }
  }
}

a {
  text-decoration: none !important;
}

.signin_left_img {
  flex-basis: 50% !important;
  max-width: 50%;
  background: url(./Images/signin.jpg);
}
.signin_right_form {
  flex-basis: 50% !important;
  max-width: 80% !important;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

@media (max-width: 450px) {
  .signin_left_img {
    display: none;
  }
}
